{% extends 'layouts.html' %}
{% load static %}

{% block content %}
<br>
<div id="content">
  {% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
</div>
<h1>จัดการข้อมูลพนักงาน</h1>
<div class="table-responsive">
  <a href="/employeeAdd" class="btn btn-success">เพิ่มพนักงาน</a>
</div>
{% if not empdata %}
<div class="alert-danger" role="alert">
  <p>ไม่มีข้อมูลพนักงาน</p>
</div>
{% else %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">รูป</th>
      <th scope="col">คำนำหน้า</th>
      <th scope="col">ชื่อ</th>
      <th scope="col">นามสกุล</th>
      <th scope="col">View</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for data in empdata %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <td><img src="{{data.emp_image.url}}" alt="" width="65px" height="65px"></td>
      <td>{{data.emp_prefix}}</td>
      <td>{{data.emp_fname}}</td>
      <td>{{data.emp_lname}}</td>
      <td><button class="btn btn-primary" href="" >View</button></td>
      <td>
        <form action="{% url 'employeeEdit' %}" method="get">
          <input type="hidden" value="{{data.id}}" name="id">
          <button type="submit" class="btn btn-success">Edit</button>
        </form>
      </td>
      <td>
        <form action="{% url 'employeeDelete' %}" method="get">
          <input type="hidden" value="{{data.id}}" name="id">
          <button type="submit" class="btn btn-danger" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่ ?')">Delete</button>
        </form>
      </td>
      {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}