{% extends 'layouts.html' %}
{% load static %}

{% block content %}
<br>
<div id="content">
  {% if messages %}
  {% for message in messages %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <strong>{{ message }}</strong>
    </div>
  {% endfor %}
  {% endif %}
</div>
<h1>จัดการข้อมูลผู้ใช้งาน</h1>
<form action="" method="get">
  <div class="form-group">
    <input type="text"  name="action" id="action" placeholder="ค้นหา">
    <button type="submit" name="submit" class="btn btn-dark"><i class="fa fa-search"></i></button>
  </div>
</form>
{% if not userdata %}
<div class="alert-danger" role="alert">
  <p>ไม่มีข้อมูลผู้ใช้งาน</p>
</div>
{% else %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">รูป</th>
      <th scope="col">คำนำหน้า</th>
      <th scope="col">ชื่อ</th>
      <th scope="col">นามสกุล</th>
      <th scope="col">ประเภท</th>
      <th scope="col">สถานะ</th>
      <th scope="col">View</th>
      <th scope="col">ยืนยันลายนิ้วมือ</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for data in userdata %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <td><img src="{{data.user_image.url}}" alt="" width="65px" height="65px"></td>
      <td>{{data.user_prefix}}</td>
      <td>{{data.user_fname}}</td>
      <td>{{data.user_lname}}</td>
      <td></td>
      <td>
        {% if data.user_status_finger == True %}
        <font color=green>Active</font>
        {% else %}
        <font color=red>Not Active</font>
        {% endif %}
      </td>
      <td><button class="btn btn-primary" href="" >View</button></td>
      <td>
        <form action="{% url 'adminconfirm' %}" method="get">
          <input type="hidden" value="{{data.id}}" name="id">
          <button type="submit" class="btn btn-success">ยืนยันลายนิ้วมือ</button>
        </form>
      </td>
      <td>
        <form action="{% url 'userDelete' %}" method="get">
          <input type="hidden" value="{{data.id}}" name="id">
          <button type="submit" class="btn btn-danger" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่ ?')">Delete</button>
        </form>
      </td>
      {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}