<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/userindex" class="navbar-brand"><i class="fas fa-shipping-fast text-warning fa-2x"></i></a>
    <button type="button" class="navbar-toggler bg-light" data-toggle="collapse"
    data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown">
        ยืนยันตัวตน <i class="fas fa-user circle"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/userconfirm">ยืนยันนิ้วมือ</a>
        </div>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="" data-toggle="dropdown">#</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">#</a>
            <a class="dropdown-item" href="">#</a>
            <a class="dropdown-item" href="">#</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">
            Sign Out <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
    </ul>
    </div>
  </nav> 